# This version only receives a CVE via repository_dispatch event
# and creates a markdown report file in another repository.
name: Receive and Return CVE

on:
    repository_dispatch:
        types: [ping_cve]
    
permissions:
  contents: read
    
jobs:
    return:
        runs-on: ubuntu-latest
        
        steps:
            - name: Checkout target-repo main branch 
              uses: actions/checkout@v4
              with:
                ref: main
                fetch-depth: 1

            - name: Extract CVE
              run: |
                echo "${{ github.event.client_payload.cve}}" > cve.txt

            - name: Prepare markdown
              run: |
                mkdir output
                echo "# CVE Report" > output/report-${{github.event.client_payload.cve}}.md
                echo "CVE: ${{github.event.client_payload.cve}}" >> output/report-${{github.event.client_payload.cve}}.md
                echo "" >> output/report-${{github.event.client_payload.cve}}.md
                echo "Generated from ${{ github.event.repository.name }} at $(date)" >> output/report-${{ github.event.client_payload.cve }}.md

            - name: Push to report-repo
              run: |
                git clone "https://x-access-token:${{secrets.VULN_REPORT_TOKEN}}@github.com/JORUNOJOSTAR/VULN-REPORT-TEST.git" report

                DATE=$(date +"%Y-%m-%d")
                mkdir -p report/$DATE

                cp output/report-${{github.event.client_payload.cve}}.md report/$DATE/cve-${{github.event.client_payload.cve}}.md
                
                cd report
                git config user.name "report-bot"
                git config user.email "bot@example.com"                
                git add .
                git commit -m "CVE returned from target-repo"
                git push
